.form1 {
  padding: 25px;
}

section > ul li {
  margin-bottom: 5px;
}

section {
  /*padding-top: 30px;*/
}

.page-header {
	margin: 0 0 10px;
}

.check-line{
	vertical-align: middle;
	padding: 5px;
	padding-left: 9px;
}
.check-line input{
	margin-bottom: 7px;
}
.buttons-action-task{
	padding: 5px;
}

.loading-modal{
	height: 200px;
	background: no-repeat center url('../img/ajax-loader.gif');
}

.loading_block{
  height: 50px;
  background: no-repeat center url('../img/ajax-loader_2.gif');
}

.cross-out{
	text-decoration: line-through;
}

#list-tasklist h3{
	margin-top: 0px;
	margin-bottom: 2px;

}

.accordion-group table, .accordion-group td, .accordion-group tr{
  margin: 0;
  padding: 0;
}


.mondal-list-priority .active{
  font-weight: bold;
  text-decoration: underline;
}

.block_priority_3{
  border:2px solid rgba(189, 54, 47, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color:#FAEEED;
}

.block_priority_2{
  border:2px solid rgba(248, 148, 6, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FEF2E2;
}

.block_priority_1{
  border:2px solid rgba(47, 150, 180, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #EEF7F9;
}

.block_priority_0{
  border:2px solid rgba(81, 163, 81, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F0F7F0;
}
.gbwhite{
  background-color: white;

}

.navbar-inverse .navbar-inner {
  background: none; 
}
/*
.label {

  line-height: 20px;
  font-size: 19.844px;
}*/


/*
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(85,171,213,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(33,99,131,0.4); 
}*/