<!-- Docs nav
    ================================================== -->
    <div class="row">
        
        <div class="span3">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#tasklist"><i class="icon-chevron-right"></i> TaskList</a></li>
            </ul>
        </div>



        <div class="span9">
            <section>
                <div class="page-header">
                    <h1><button type="button" id="btn-new-tasklist" class="btn btn-success btn-small">new</button> Task List </h1>
                </div>

        
                <div id="form-tasklist" class="modal hide" tabindex="-1" >
              
                    <div class="container-modal">
                        
                        <div class="modal-header">
                            <button type="button" class="close close-modal">×</button>
                            <h3 id="myModalLabel">Task List</h3>
                        </div>

                        <div class="alert alert-success hide" id="alert-modal" >
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Save!</strong>
                        </div>
                
                        <div class="modal-body">

                            <form id="form_modal">
                          
                                <label>Name</label>
                                <input type="text" id="modal_name" class="span5" >

                                <label>Description</label>
                                <textarea rows="3" id="modal_description" class="span5"></textarea>

                                <input type="hidden" id="action_form">
                                <input type="hidden" id="modal_id_form">
                                <input type="hidden" id="modal_idparent_form">

                            </form>

                        </div>

                        <div class="modal-footer">
                            <button class="btn close-modal">Close</button>
                            <button class="btn btn-primary save-changes-modal">Save changes</button>
                        </div>
                    </div>
            
                    <div class="loading-modal"></div>
                </div>

                <ul class="thumbnails" id="list-tasklist"></ul>

            </section>
        </div>
    </div>