                <div id="form-tasklist" class="modal hide" tabindex="-1" >
              
                    <div class="container-modal">
                        
                        <div class="modal-header">
                            <button type="button" class="close close-modal">×</button>
                            <h3 id="title_modal">Task List</h3>
                        </div>

                        <div class="alert alert-success hide" id="alert-modal" >
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Save!</strong>
                        </div>
                
                        <div class="modal-body">

                            <form id="form_modal">

                               
                               
                                <input type="hidden" id="modal_priority" value="0">

                          
                              
                                  <label>Name</label>
                                <div class="btn-toolbar">
                                  <div class="btn-group" style="padding-top:10px;">
                                    <input type="text" id="modal_name" class="span3" >
                                  </div>

                                  <div class="btn-group mondal-list-priority only_task hide" data-toggle="buttons-radio">
                                    <button value="3" class="btn btn-danger ">!!</button>
                                    <button value="2" class="btn btn-warning ">!</button>
                                    <button value="1" class="btn btn-info ">&amp;</button>
                                    <button value="0" class="btn btn-success active">?</button>
                                  </div>                                  
                                </div>

                                <label>Description</label>
                                <textarea rows="3" id="modal_description" class="span5"></textarea>

                                

                                <input type="hidden" id="action_form">
                                <input type="hidden" id="modal_id_form">
                                <input type="hidden" id="modal_idparent_form">

                            </form>

                        </div>

                        <div class="modal-footer">
                            <button class="btn close-modal">Close</button>
                            <button class="btn btn-primary save-changes-modal">Save changes</button>
                        </div>
                    </div>
            
                    <div class="loading-modal"></div>
                </div>