<div class="accordion-group" id="item-task-<%- task._id %>" style="border:0"  >
                    
                    <div class="accordion-heading">
                      <div class="check-line">
                        
                        <table><tr>
                          <td width="3%">
                             <% if(task.status == 'finish'){ %>
                             <button type="button" value="peding" class="check-task btn btn-success btn-mini" data-value="<%- task._id %>"><i class="icon-thumbs-up icon-white"></i></button>
                             <% }else{ %>
                             <button type="button" value="finish" class="check-task btn btn-danger btn-mini" data-value="<%- task._id %>"><i class="icon-thumbs-down icon-white"></i></button>
                              <% }%>
                        
                          </td>
                          <td style="padding-left:6px;">
                      
                         <a data-toggle="collapse"  style="display:block" id="title-task-<%- task._id %>" data-parent="#accordion<%- task.tasklist %>_<%- task.priority %>" href="#collapse<%- task._id %>" <% if(task.status == 'finish'){ %>class="cross-out"<% } %>><%- task.name %></a>
                         </td>
                        </tr></table>

                      </div>



                    </div>
                    
                    <div id="collapse<%- task._id %>" class="accordion-body collapse">
                      <div class="accordion-inner">
                        
                        <p id="description-task-<%- task._id %>" ><%- task.description %></p>
                        
                       <div class="buttons-action-task text-right">
                          <button type="button" data-value="<%- task._id %>" class="btn-delete-task btn btn-danger btn-mini">Delete</button>
                          <button type="button" class="btn btn-mini btn-edit-task" data-value="<%- task._id %>">Edit</button>
                        </div>

                        <hr>
                        <small style="display:block">update: <abbr class="timeago" title="<%- task.updated_at %>"></abbr>
</small>
                        <small>create: <abbr class="timeago" title="<%- task.created_at %>"></abbr></small>

                      </div>
                    </div>

                  </div>