
            <li class="span12" id="item-tasklist-<%- tasklist._id %>">
              
              <div style="padding:0 0 5px 0;"><strong><%- tasklist.name %></strong>
                <div class="btn-group" style="float:right">
                  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="btn-edit-tasklist" data-value="<%- tasklist._id %>">Edit</a></li>
                    <li><a href="#" class="btn-delete-tasklist" data-value="<%- tasklist._id %>">Delete</a></li>
                  </ul>
                </div>
              </div>

              <div style="overflow:auto; border: 1px solid #ddd; padding: 5px;">

                <button class="btn-new-task btn btn-small btn-block" data-value="<%- tasklist._id %>" style="margin-bottom:5px" type="button">new</button>

                <div class="row-fluid">
                  
                  <div class="span3 accordion block_priority_3" id="accordion_<%- tasklist._id %>_3" >


                  </div>

                  <div class="span3 accordion block_priority_2" id="accordion_<%- tasklist._id %>_2" >


                  </div>

                  <div class="span3 accordion block_priority_1" id="accordion_<%- tasklist._id %>_1" >


                  </div>

                  <div class="span3 accordion block_priority_0" id="accordion_<%- tasklist._id %>_0" >


                  </div>
                  
                </div>
              </div>
            </li>
