
            <li class="span12" id="item-tasklist-<%- tasklist._id %>" style="padding: 8px;">
              
              <div style="padding:0 0 5px 0;">
                
                <div data-target="#collapse_<%- tasklist._id %>" data-toggle="collapse" style=" cursor:pointer">
                  
                  <div class="btn-group" style="">
                  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="btn-new-task" data-value="<%- tasklist._id %>">New</a></li>
                    <li><a href="#" class="btn-edit-tasklist" data-value="<%- tasklist._id %>">Edit</a></li>
                    <li><a href="#" class="btn-delete-tasklist" data-value="<%- tasklist._id %>">Delete</a></li>
                  </ul>
                </div>

                  <strong><%- tasklist.name %></strong>

                  <div style="margin-left:10px; display:inline" class="count_priority_<%- tasklist._id %>">
                    <span class="label label-important count_3">0</span>
                    <span class="label label-warning count_2">0</span>
                    <span class="label label-info count_1">0</span>
                    <span class="label label-success count_0">0</span>
                  </div>


                </div>


              </div>

              <div  id="collapse_<%- tasklist._id %>" class="accordion-body collapse " style="background:white;">
                <div style="overflow:hidden; border:none;" >

                 

                  <div class="row-fluid">
                    
                    <div class="span3 accordion block_priority_3" id="accordion_<%- tasklist._id %>_3" >
                        <input class="input-block-level insert-new-task" data-priority="3" data-value="<%- tasklist._id %>" type="text" placeholder="+ Urgent and important!!1" style="border: 0; border-bottom: 1px #ccc dashed; background-color: rgba(255,255,255,0.6); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; ">

                    </div>

                    <div class="span3 accordion block_priority_2" id="accordion_<%- tasklist._id %>_2" >
                       <input class="input-block-level insert-new-task" data-priority="2" data-value="<%- tasklist._id %>" type="text" placeholder="+ Urgent but less important!" style="border: 0; border-bottom: 1px #ccc dashed; background-color: rgba(255,255,255,0.6); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; ">
                    </div>

                    <div class="span3 accordion block_priority_1" id="accordion_<%- tasklist._id %>_1" >
                       <input class="input-block-level insert-new-task" data-priority="1" data-value="<%- tasklist._id %>" type="text" placeholder="+ Important but not urgent" style="border: 0; border-bottom: 1px #ccc dashed; background-color: rgba(255,255,255,0.6); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  ">

                    </div>

                    <div class="span3 accordion block_priority_0" id="accordion_<%- tasklist._id %>_0" >
                        <input class="input-block-level insert-new-task" data-priority="1" data-value="<%- tasklist._id %>" type="text" placeholder="+ Please note" style="border: 0; border-bottom: 1px #ccc dashed; background-color: rgba(255,255,255,0.6); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;">
                    </div>
                    
                  </div>
                </div>
              </div>
            </li>
