<div class="accordion-group" id="item-task-<%- task._id %>"  >
                    
                    <div class="accordion-heading">
                      <div class="check-line">
                        
                        <input type="checkbox" data-value="<%- task._id %>"  class="check-task inline" <% if(task.status == 'finish'){ %>checked="checked"<% } %> >    
                      
                         <a data-toggle="collapse" id="title-task-<%- task._id %>" data-parent="#accordion<%- task.tasklist %>" href="#collapse<%- task._id %>" <% if(task.status == 'finish'){ %>class="cross-out"<% } %>><%- task.name %></a>

                      </div>                                       
                    </div>
                    
                    <div id="collapse<%- task._id %>" class="accordion-body collapse collapse">
                      <div class="accordion-inner">
                        
                        <p id="description-task-<%- task._id %>" ><%- task.description %></p>
                        
                       <div class="buttons-action-task text-right">
                          <button type="button" data-value="<%- task._id %>" class="btn-delete-task btn btn-danger btn-mini">Delete</button>
                          <button type="button" class="btn btn-mini btn-edit-task" data-value="<%- task._id %>">Edit</button>
                        </div>

                        <hr>
                        <small style="display:block">update: <abbr class="timeago" title="<%- task.updated_at %>"></abbr>
</small>
                        <small>create: <abbr class="timeago" title="<%- task.created_at %>"></abbr></small>

                      </div>
                    </div>

                  </div>